/* SECCION PAGINA GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html {
    background: linear-gradient(120deg, #0f1b23, #234, #3b4b5b, #2a3a4a, #1a2a3a);
    color: #dde;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    animation: aparecerBody 1600ms ease-in-out;
}

@keyframes aparecerBody {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/* SECCION DEL header */

header {
    width: 100%;
    padding-bottom: 10vh;
}

h1 {
    color: #222;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}

nav{
    background-color: #345b;
    width: 100%;
    max-width: 650px;
    margin: auto;
    padding: 10px 0;
    border-bottom: 3px solid #234;
    backdrop-filter: blur(10px);
    z-index: 300;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.05em;
}

a {
    text-decoration: none;
    color: #b9bace;
    text-shadow: none;
    transition: color 300ms ease,
                text-shadow 300ms ease;

}

a:hover {
    color: #dfdffe;
    text-shadow: 0 0 2px #bbcc;
}


/* SECCION DEL MAIN */

main {
    flex: 1;
}



/* ------------- SECCION DEL FOOTER -------------*/

footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(330deg, #2a2b2a, #39393c, #2a2a2a);
    color: #aaa;
    align-items: center;
    border-top: 2px #0f1b23 solid;
    width: 100%;
    margin-top: 8vh;
}




.footer__principal {
    margin: auto;
    width: 80%;
    padding: 3vh 0;
}

/* SECCION CONTACTO */

.footer__conteiner {
    gap: 0;
}

.footer__contactos__conteiner {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.footer__conteiner p{
    font-weight: 300;
    color: #999;
    font-size: 0.92em;
    text-shadow: 0 0 1px #0000;
    transition: text-shadow 250ms ease;
}

.footer__conteiner p:hover {
    text-shadow: 0 0 1px #4bfa;
    cursor: pointer;
}

.footer__contacto h5 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2vh;
    font-size: clamp(1.07em, 1.7vw, 25px);
    text-align: center;
    width: 100%;
}

.footer__contacto__individual {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

footer h6 {
    font-weight: 300;
    font-size: clamp(.9em, 1.6vw, 22px);
}

.footer__contacto div div a {
    background: inherit;
    border: none;
    text-transform: none;
    padding: 0;
    margin: 0;
}

.footer__contacto__individual img {
    min-height: 4vh;
    max-height: 40px;
    background: inherit;
    margin-right: 2vw;

}

.icon {
    border-radius: 50%;
    background: #ccc;
}

.icon__correo {
    
}

.fondo__footer {
    background: #232323;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: #999;
    font-weight: 300;
    font-size: clamp(0.7em, 1vw, 20px);
}

/*
.hernankroneberger {
    font-weight: 200;
    font-size: 1.1em;
    letter-spacing: 10%;
    width: 50vw;
    color: #bbb;
}*/

/* ---------------------------------------*/


/* ------------- BOTON DE VOLVER A INICIO (SECUNDARIAS) ------------- */

div a, .volver_a_inicio{
    background: #222a3a;
    border: none;
    text-wrap: none;
    color: #bdbfce;
    padding: 8px 12px;
    font-size: 1.2em;
    border-radius: 10px;
    text-transform: uppercase;
    border: 1px solid #bbc;
    transition: background-color 200ms ease-in-out,
                color 200ms ease-in-out,
                text-shadow 200ms ease-in-out,
                border 200ms ease-in-out;
}

div a, .volver_a_inicio{
    max-width: 80%;
    font-size: clamp(0.65em, 2vw, 18px); /* clamp()Lo que hace es ajustarnos el font-size. funciona asi clamp(minimo, preferido, maximo) */

}

div a:hover{
    background: #2f3441;
    cursor: pointer;
    color: #dfdffe;
    text-shadow: 0 0 2px #bbcc;
    border: 1px solid #dde;
}

.volver_a_inicio {
    border: 1px #aaca solid;
    transition: border 200ms ease-in-out,
                background-color 200ms ease-in-out
                color 200ms ease-in-out,
                text-shadow 200ms ease-in-out;
}

.volver_a_inicio:hover {
    background: #2f3441;
    cursor: pointer;
    color: #dfdffe;
    text-shadow: 0 0 2px #bbcc;
    border: 1px #aacc solid;
}


/* --------------------------------------- */
