header {
    background: linear-gradient(180deg, #333, #555c, #8887, #8886),
                url("../Pagina Principal/imagenes/Escritorio-Trabajo.jpg") center;
    background-size: cover;
}

section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: #c2c4d2;
    min-height: 30vh;
    width: 100%;
    margin: auto;
    flex-grow: 1;
    color: #123;
    text-align: center;
}

.section__content {
    margin: 8vh 0;
}