header {
    background: linear-gradient(180deg, #111d, #2226, #111d),
                url("../Pagina Principal/imagenes/Clasico Invierno.png") center;
    background-size: cover;
}




section {
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;
    background: #c2c4d2ea;
    height: 30vw;
    width: 90%;
    margin: auto;
    border-radius: 25px;
    color: #123;
    box-shadow: 0 0 4px #777;
    align-items: center;
    text-align: center;
    border: 2px solid #3330;
    transition: scale 250ms ease,
                box-shadow 250ms ease,
                background 250ms ease,
                border 250ms ease;
}

section:hover {
    box-shadow: 0 0 10px #999;
    background: #c2c4d2 ;
    border: 2px solid #234d;
}
